[Desktop Entry]
Name=Ferman Browser
GenericName=Web Browser
Comment=Ferman Tarayıcı
Exec=ferman-browser %u
Icon=ferman-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=com.ferman.browser
